{extend name="base/base"}
{block name="body"}
<div class="Huialert Huialert-error" style="display:none"></div>
<article class="page-container">
	<form action="" method="post" class="form form-horizontal" id="form-admin-role-add">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>角色名称：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<input type="text" class="input-text" value="{$role.title}" name="title">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-3">网站权限：</label>
			<div class="formControls col-xs-8 col-sm-9">
				{volist name="node" id="vo"}				
					<p style='{if condition="$vo.pid neq 0"}
								text-indent:30px;
							  {/if}
							  {if condition="$vo.pid neq 0"}
							  	 float:left;margin-right:-10px;
							  {else /} clear:both;
							  {/if}
							   '><input type="checkbox" value="{$vo.id}" name="node_id[]" data_id="{$vo.id}" pid='{$vo.pid}'  class="cb cb{$vo.pid} id{$vo.id}" onclick="node(this)" {if condition="$vo.access eq 1"}checked="checked"{/if} >{$vo.title}</p>
				{/volist}
			</div>
		</div>
		<div class="row cl">
			<input type="hidden" name="id" value="{$role.id}" >
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<btn type="submit" class="btn btn-success radius" id="admin-role-save"  onclick="test(this)"><i class="icon-ok"></i> 确定</btn>
			</div>
		</div>
	</form>
</article>

<script type="text/javascript">

	//权限选中时候的相关交互
	function node(e){
		var pid=$(e).attr('pid');
		if($(e).prop('checked')){
			if(pid == 0){
				$('.cb'+$(e).attr('data_id')).prop("checked",true);
			}else if(!$('.id'+$(e).attr('pid')).prop('checked')){
				$('.id'+$(e).attr('pid')).prop('checked',true);
			}
		}else{
			if(pid == 0){
				$('.cb'+$(e).attr('data_id')).prop("checked",false);
			}
		}
	}

	
	var ids="form-admin-role-add";
	var result=function(date){
	   if(date.state=="y"){
			//父级页面刷新
			modal_alert(date.msg,3000);
			$(window.parent.location.reload());
	   }else{
	   		modal_alert(date.msg);
	   }
	}
	
	function test(o) {
		var url='/index/admin/group_edit';
		ajax_form(ids,url,result);
	}
	
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}