{extend name="base/base"}
{block name="body"}
 	<link rel="stylesheet" type="text/css" href="__PUBLIC__/static/h-ui/css/jedate.css" />
    <script type="text/javascript" src="__PUBLIC__/static/h-ui/js/jquery.jedate.js"></script>
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-add" method="post" form="">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>媒体养号账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$list.account}" placeholder="任务名称" id="adminName" disabled>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>任务状态：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="执行完成" placeholder="任务名称" id="adminName"  disabled>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>养号时间：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$list.addtime|date='Y-m-d H:i:s',###}" placeholder="任务名称" id="adminName"  disabled>
		</div>
	</div>

	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>会员账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$list.member}" placeholder="任务名称" id="adminName"  disabled>
		</div>
	</div>

	{if condition="$list.result_pic neq ''"}
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>回执图片：</label>
		<div class="formControls col-xs-8 col-sm-9">
			{volist name="list.result_pic" id="vo" }
				<img src="{$vo}" alt="" style="width:50%;">
			{/volist}
			
		</div>
	</div>
	{/if}
	
	{if condition="$list.status eq 2"}
	<div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>审核状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="radio" name="status" value="5" onclick="check(this)">审核通过&nbsp;
                <input type="radio"  name="status" value="4" onchange="ischecked(this)">审核失败
            </div>
        </div>


        <div class="row cl lose" style="display: none">
            <label class="form-label col-xs-4 col-sm-3">失败原因：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <textarea name="lose" cols="" rows="" class="textarea"  placeholder="填写审核原因..." onKeyUp="textarealength(this,100)"></textarea>
                <p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
        	</div>
        </div>
        <input type="hidden" name="id" value="{$list.id}">
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
				<btn class="btn btn-primary radius" value="" onclick="test(this)">&nbsp;&nbsp;提交&nbsp;&nbsp;</btn>
			</div>
		</div>

	{/if}
	

	</form>
</article>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="__PUBLIC__/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<!--_footer 作为公共模版分离出去--> 

<!--/_footer /作为公共模版分离出去--> 

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">

	function ischecked(o){
        $('.lose').css('display','block');
    }
    function check(o) {
    	//$('.')
        $('.lose').css('display','none');
        //$('.lose').val('');
        $('.textarea').val('');
    }


  var ids="form-admin-add";

  var result=function(date){
   if(date.state=="y"){
    //父级页面
     $(window.parent.location.reload());
   }else{
     alert(date.msg);
   }

  }
  function test(o) {
  	var url='/index/order/raise_edit';
   	ajax_form(ids,url,result);
  }
	

</script> 

{/block}
