{extend name="base/base"}
{block name="body"}
<article class="page-container">
	<form class="form form-horizontal" id="form-admin-edit" method="post" form="">
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>小组长账号：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="text" class="input-text" value="{$admin.username}" placeholder="" id="adminName" name="username">
		</div>
	</div>
	
	<div class="row cl">
		<label class="form-label col-xs-4 col-sm-3">备注：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<textarea name="remark" cols="" rows="" class="textarea"  placeholder="说点什么...100个字符以内" dragonfly="true" onKeyUp="textarealength(this,100)">{$admin.remark}</textarea>
			<p class="textarea-numberbar"><em class="textarea-length">0</em>/100</p>
		</div>
	</div>
	<div class="row cl sss">
		<label class="form-label col-xs-4 col-sm-3">是否修改密码：</label>
		<div class="formControls col-xs-8 col-sm-9"> <span class="select-box" style="width:150px;">
			<select class="select selectlev" name="is_pwd" size="1" onchange="change(this)">
				<option value="0">--不修改--</option>
				<option value="1">--修改密码--</option>
			</select>
			</span> </div>
	</div>
	
	<div class="row cl pwd" >
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>新密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off" value="" placeholder="密码" id="password" name="password">
		</div>
	</div>
	<div class="row cl pwd">
		<label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>确认密码：</label>
		<div class="formControls col-xs-8 col-sm-9">
			<input type="password" class="input-text" autocomplete="off"  placeholder="确认新密码" id="password2" name="pwd">
		</div>
	</div>
	
	
	<input type="hidden" name="uid" value="{$admin.uid}">
	<div class="row cl">
		<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
			<btn class="btn btn-primary radius" type="submit" value="" onclick="test(this)">&nbsp;&nbsp;提交&nbsp;&nbsp;</btn>
		</div>
	</div>
	</form>
</article>

<!--请在下方写此页面业务相关的脚本--> 
<script type="text/javascript">

	function change(e)
	{
		var chage=$(e).val();
		if(chage==1){
			$("#password").val("");
			$("#password2").val("");
			$('.pwd').show();
		}else{
			$("#password").val("");
			$("#password2").val("");
			$('.pwd').hide();
		}
	}

	$('.pwd').hide();

  var ids="form-admin-edit";

  var result=function(date){
   if(date.state=="y"){
    //父级页面
     $(window.parent.location.reload());
   }else{
     modal_alert(date.msg,2000);
   }

  }
  function test(o) {
  	var url='/index/member/group_update';
   	ajax_form(ids,url,result);
  }
	

</script> 

{/block}
